bin/
obj/
publish/
publish-processing/
msix-staging/
TestResults/
installer/Output/
*.user
*.suo
*.pfx
*.cer
*.msix
*.log

src/TibiaSquare.HuntMonitor/config.json
lib/*.pdb

obs-portable/
supabase/.temp/
